<h1>Bejeweled</h1>

<button type='button' id='new-game'>New game</button>
<br><br>

<table id="game-board">
</table>
<div class='overlay'></div>
<br>
<button type='button' id='hint'>Hint</button>
<br><br>
<p>Score: </p><p id='score'></p>
<br><br>

<%= link_to 'View high scores', high_scores_path %>