<h1>Bejeweled</h1>

<table>
  <tr>
    <td id='0'></td>
    <td id='1'></td>
    <td id='2'></td>
    <td id='3'></td>
  </tr>
  <tr>
    <td id='4'></td>
    <td id='5'></td>
    <td id='6'></td>
    <td id='7'></td>
  </tr>
  <tr>
    <td id='8'></td>
    <td id='9'></td>
    <td id='10'></td>
    <td id='11'></td>
  </tr>
    <tr>
    <td id='12'></td>
    <td id='13'></td>
    <td id='14'></td>
    <td id='15'></td>
  </tr>
</table>
